<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    </head>
    <body>
        <a href="/swagger-ui/">GA NAAR SWAGGER</a>
        <table>
            <thead>
                <tr>
                    <th colspan="2">Ping statistics</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{>chart-line packetsLostPerDay}}</td>
                    <td>{{>chart-line pingTimesPerHour}}</td>
                </tr>
                <tr>
                    <td>{{>chart-line pingTimesPerMinute}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        {{>chart-script packetsLostPerDay}}
        {{>chart-script pingTimesPerHour}}
        {{>chart-script pingTimesPerMinute}}
    </body>
</html>
